 <div class="footer">
    <div class="row w-100 row-cols-1 row-cols-lg-2 py-2 px-3">
        <div class="col px-5 align-content-between">
            <p>AUTOSVIP es una marca de Corporación ZEN210</p>
            <p>Whatsapp +593 9999 00 22 3</p>
            <p>Correo: ventas@autosvip.net</p>
            <p>AV. Mariscal Sucre y Reventador (El Condado-Quito-Ecuador)</p>
        </div>
        <div class="col px-5 align-content-between py-1">
            <div class="d-flex justify-content-around py-1">
                <a href="https://autosvip.net">
                    <img class="imgLarga" src="../../../assets/img/footer/bmw.png">
                </a>
                <a href="https://autosvip.net" >
                    <img class="imgLarga" src="../../../assets/img/footer/mercedes.png">
                </a>
                <a href="https://autosvip.net" >
                    <img class="imgLarga" src="../../../assets/img/footer/porsche.png">
                </a>
            </div>
            <div class="d-flex justify-content-around py-1">
                <a href="https://autosvip.net">
                    <img class="imgAncha" src="../../../assets/img/footer/mini.png">
                </a>
                <a href="https://autosvip.net" title="Home" rel="Home">
                    <img class="imgAncha" src="../../../assets/img/footer/audi.png">
                </a>
            </div>
        </div>
    </div>
</div>